body{
    padding: 0;
    background: #fff;
    font: 12px Microsoft YaHei, arial, sans-serif;
}
p{
    margin: 0;
}
.center_process{
    width: 1470px;
    height: 831px;
    margin: 0 auto;
}
.right_course{
    width: 1470px;
    height: auto;
    margin: 0 auto;
}
.left_menu{

    float: left;
    background-color: #acc7f6;

    width: 200px;
    height: 691px;
    margin: 70px 0 0 0;
}
.list-group-item{
    background:none;
    border:0;
    color: #dadada;
}
.list-group-item.disabled, .list-group-item.disabled:hover{
    color: black;
    background-color: #7292c9;
    font-size: 22px;
}
a.list-group-item, button.list-group-item{
    color: black;
    font-size: 16px;
}
a.list-group-item:hover{
    background-color: #dbecff;
}
.list-group{
    text-align: center;
}
.right_course{
    height: 800px;
    width: 1200px;
    margin-top: 110px;
    float: left;
}
.picture1{
    padding-left: 8px;
    height: 180px;
    width: 200px;
    float: left;

}
.content1{
    height: 230px;
    width: 960px;
    float: left;
}
.title{
    background-color:  #7292c9;
    font-size: 22px;
}
.block1,.block2{
    display: block;
    height: 180px;
}
/* 列表*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: #95B8E7;
    text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
.list-title{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    background: #FFF;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #95B8E7;
    font-weight: bold;
    cursor: pointer;
}
h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

h1 a {
    color: #95B8E7;
    font-size: 16px;
}

.accordion {
    width: 100%;
    border: solid 1px #ccc;
    background: #bdcde9;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}
.accordion li{
    cursor: pointer;
}
.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color:#383333;
    background-color:#bdcde9;
}

.accordion li.open i {
    color: #383333;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: #dbecff;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #d6d7dc;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover ,.submenu li.current a{
    background: #d6e5f3;
    /*color: #FFF;*/
}

/*http://www.jq22.com*/
.panel-body{
    background-color: transparent;
    height: 200px;
}
